<%= form_with model: post, class: "w-[400px] max-w-sm mx-auto" do |f| %>
    <% if post.errors.any? %>
     <% post.errors.full_messages.each do |msg| %>
        <%= render 'layouts/toast', info: msg %>
      <% end %>
    <% end %>

    <div class="mb-5 field">
      <%= f.label :title, class:"block text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :title, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="mb-5 field">
      <%= f.label :description, class:"block text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_area :description, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", rows: 20 %>
    </div>

    <div>
      <%= f.label :image, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.file_field :image, class:"text-sm text-stone-500
   file:mr-5 file:py-1 file:px-3 file:border-[1px]
   file:text-xs file:font-medium
   file:bg-stone-50 file:text-stone-700
   hover:file:cursor-pointer hover:file:bg-blue-50
   hover:file:text-blue-700 file:rounded-md" %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>
    
    <div class="flex justify-center">
      <%= f.submit class: "mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
<% end %>